
.input-textfield {
  width: 11vw;
  font-size: 1.2vw;
  margin-bottom: 1vw;
  border-radius: .25vw;
  height: 2vw;
}

.years-label {
  position: absolute;
  font-size:0.8vw;
  top: 23.5vw;
}

.years-input {
  position: absolute;
  top: 24.5vw;
  width:2.2vw;
  height: 1.2vw;
  border-radius:.25vw;
  font-size: 1vw;
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  padding: .2vw .2vw;
  border: 1px solid #aaa;
}

.checkbox label:before {
  border-radius: 3px;
  left:-1.5vw;
  content: "";

  width: 1.2vw;
  height: 1.2vw;

  position: absolute;
  background-color: #ffffff;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.label-text {
  -webkit-user-select: none;
  cursor:default;
  font-size: 1vw;
  line-height: 1;
  padding-top: 1vw;
}

#dob-text {
  position:absolute;
  left:2.5vw;
  top:10.3vw;
}

#dob-input {
  position:absolute;
  left:2.5vw;
  top:12.5vw;
}
#addTime-label {
  position:absolute;
  left:17.4vw;
  top:11.2vw;
}
#time-input {
  position:absolute;
  left:16vw;
  top:12.5vw;
}

#shapeCircle-label {
  position:absolute;
  left:17.4vw;
  top:18.6vw;
}

#shapeSquare-label {
  position:absolute;
  left:23.4vw;
  top:18.6vw;
}

#swapTimer-label {
  position:absolute;
  left:17.4vw;
  top:20vw;
}

#precision-text {
  position: absolute;
  left: 16vw;
  top: 14vw;
}

#precision-dropdown {
  position: absolute;
  left: 16vw;
  top: 16.2vw;
}

#theme-text {
  position: absolute;
  left: 2.5vw;
  top: 14vw;
}

#theme-dropdown {
  position: absolute;
  left: 2.5vw;
  top: 16.2vw;
}

#hideAge-label {
  position: absolute;
  left: 4.4vw;
  top: 18.6vw;
}

#hideCircles-label {
  position: absolute;
  left: 4.4vw;
  top: 20vw;
}

#chapter-label {
  font-size:1vw;
  position: absolute;
  left: 2.5vw;
  top: 21vw;
}

#age-chapter-label {
  position: absolute;
  left:3.7vw;
  top:23.5vw;
  font-size: 0.5vw;
}

#first-chapter-label {
  left: 2.5vw;
}

#first-chapter-input {
  left: 2.5vw;
}

#second-chapter-label {
  left: 5.8vw;
}

#second-chapter-input {
  left: 5.8vw;
}

#third-chapter-label {
  left: 9.1vw;
}

#third-chapter-input {
  left: 9.1vw;
}

#fourth-chapter-label {
  left: 12.4vw;
}

#fourth-chapter-input {
  left: 12.4vw;
}

#fifth-chapter-label {
  left: 15.7vw;
}

#fifth-chapter-input {
  left: 15.7vw;
}

#sixth-chapter-label {
  left: 19vw;
}

#sixth-chapter-input {
  left: 19vw;
}

#seventh-chapter-label {
  left: 22.3vw;
}

#seventh-chapter-input {
  left: 22.3vw;
}

#eighth-chapter-label {
  left: 25.6vw;
}

#eighth-chapter-input {
  left: 25.6vw;
}

.submitButtonClass {
  position:absolute;
  left:12vw;
  bottom:1vw;
  margin-top:1vw;
  display: inline;
  border: none;
  border-radius: 0.25vw;
  outline: none;
  background-color: #0BE;
  color: #FFF;
  cursor: pointer;
}

.cancelButtonClass {
  position:absolute;
  bottom:1.4vw;
  left:19vw;
  display: inline;
  cursor: pointer;
}

