@media only screen and (min-width:960px) {

}
@media only screen and (min-width:1440px) {

}
@media only screen and (min-width:2000px) {

}
@media only screen and (max-device-width:480px) {

}
@media only screen and (device-width:768px) {

}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

}

*,*:before,*:after {
  -webkit-box-sizing: border-box;

}

/****************/
/*   Elements   */
/****************/

body,html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5F5F5;

  color: #424242;

  -webkit-align-items: center;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
  -webkit-user-select: none;
}

body, input {
  display: -webkit-flex;
  font-family: 'Avenir', 'NUNITO', 'Museo Sans', 'Muli', 'helvetica neue', helvetica, arial, sans-serif;
}

a, button {
outline: none;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #000000;
    text-align: center;
    line-height: 22px;
}

input[type='color'] {
  height: 50px;
  width: 100%;
  border-width: 0px;
}

button {
  font-size: 1.5rem;

  appearance: none;
  -webkit-appearance: none;
}

label {
  color: #B0B5B9;
  font-size: 1.1rem;

  cursor: pointer;
  position: relative;
  margin-left: 4.5vw;
}

/************************/
/*   Settings Classes   */
/************************/

.input_field {
  width: 15rem;
  font-size: 1.5rem;
  margin-bottom: 1vw;
  border-radius: .25rem;
  height: 2.4rem;
}

.checkbox label:before {
  border-radius: 3px;
  top:2px;
  left:-25px;
  content: "";

  width: 18px;
  height: 18px;

  position: absolute;
  background-color: #ffffff;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.label_text {
  -webkit-user-select: none;
  color: #B0B5B9;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1;
  padding-top: 1vw;
  padding-bottom: 10px;
}

.age-container {
  position: absolute;
  left: 50%;
  top: 42%;
}

.button-container {
  margin-left:3.4vw;
}

/*******************/
/* Counter Classes */
/*******************/

.pie {
  float: left;
  width: 1.9%;
  margin: 0.16%;
  border-radius: 50%;
}

.circle {
  float: left;

  width: 1.9%;
  box-sizing: border-box;
  margin: 0.16%;
  border: solid transparent;
  border-radius: 50%;

  background-color: #424242;
}

.count {
  -webkit-user-select: none;
  position: relative;
  left: -50%;
  top: -50%;

  margin-left: .7vw;
  margin-right: .7vw;
  margin-bottom: .4vw;
  font-size: 5vw;
  font-weight: 500;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  line-height: 1;

  cursor: default;
}

.count-labels {
  -webkit-user-select: none;
  display:flex;
  position: relative;
  left: -50%;
  margin: 0;
  font-size: 1.0vw;
  font-weight: 400;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  line-height: 1;

  cursor: default;
}

.count-label {
  -webkit-user-select: none;
  text-align: center;
  flex-basis: 20px;
  flex-grow: 1;
}

.checkbox {
  margin-left:2vw;
}

/************************/
/* Settings Identifiers */
/************************/

#age_option_container {
  padding-top: 0.5rem;
}

#time_input {
  margin-top:1vw;
}

#submit_button {
  margin-top:1vw;
  display: inline;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  background-color: #0BE;
  color: #FFF;
  cursor: pointer;
}

#cancel_button {
  position:relative;
  bottom:5px;
  margin-left:1vw;
  display: inline;
  color: #FFF;
  cursor: pointer;
}

/***********************/
/* Counter Identifiers */
/***********************/

#reset {
  position: fixed;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
}

#info {
  position: fixed;
  left: 15px;
  bottom: 7px;
  cursor: pointer;
}
